@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
}
html {
  background-color: #0e1417;
}

body {
  min-height: 100vh;
  background-color: #0e1417;
  color: #83a4b5;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0 !important;
}

.loading {
  display: none;
}

header {
  width: 33.3333333333vw;
  min-height: 100vh;
  padding: 0;
  animation: 1s ease-in fade-in;
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 33.3333333333vw;
  text-align: center;
  padding-top: 32px;
  margin: 0 !important;
  animation: 1s ease-out slide-in-top;
}
nav a {
  color: #0e1417;
  font-size: 20px;
  font-weight: bold;
  padding: 0 !important;
}
nav a:hover {
  color: #9f9f9f;
}

a {
  text-decoration: none;
}

#title-overlay {
  width: 33.3333333333vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(./images/mountain-background.jpg);
  background-size: cover;
}

#title {
  display: inline-block;
  width: 100%;
  color: #002639;
  font-size: 20px;
  text-align: right;
  line-height: 32px;
  padding: 25vh 64px 0 64px;
  animation: 1s ease-out slide-in-left, 0.75s ease-in fade-in;
}

.mw1400, .mw402 {
  display: none;
}

.title-highlight {
  display: inline;
  color: #0e1417;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  color: #9f9f9f;
  font-size: 24px;
  font-weight: bold;
  padding: 64px 0 32px 0;
  margin: 0 !important;
}

h3 {
  color: #9f9f9f;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 16px 0;
  margin: 0 !important;
}

#email {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 33.3333333333vw;
  background-color: #0e1417;
  font-size: 24px;
  text-align: center;
  padding: 32px 0;
  animation: 1s ease-out slide-in-bottom;
}

#email-link {
  color: #9f9f9f;
}
#email-link:hover {
  color: white;
}

main {
  min-height: 100vh;
  padding: 0 64px 52px 64px !important;
  animation: 1s ease-in fade-in;
}

#content {
  max-width: 1056px;
  margin: 0 auto;
}

hr {
  border: 0;
  border-bottom: solid 2px #9f9f9f;
  margin: 32px 0 0 0;
}

.preview img {
  max-width: calc(100% - 2px);
  border-radius: 8px;
  border: 4px solid rgba(0, 0, 0, 0);
  transition: all 0.25s ease;
}
.preview img:hover {
  max-width: 100%;
  border: 2px solid #83a4b5;
}

.fa-react {
  color: #5fd9fb;
  animation: 6s infinite linear clockwise-rotate;
}

.testdome-certificate-stamp {
  position: relative;
  display: block;
  width: 189px;
  height: 124px;
  background-position: center center;
  background-repeat: no-repeat;
  text-transform: uppercase;
  text-decoration: none;
  text-align: left;
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
  margin: 12px;
  transition: all 0.25s ease;
}
.testdome-certificate-stamp span {
  display: block;
  color: #ffffff;
  font-size: 11px;
  text-decoration: none;
  margin-bottom: 5px;
}
.testdome-certificate-stamp .testdome-certificate-name {
  font-size: 14px;
  text-transform: none;
}
.testdome-certificate-stamp .testdome-certificate-card-logo {
  position: absolute;
  bottom: 5px;
}
.testdome-certificate-stamp:hover {
  text-decoration: none;
  border: 2px solid #83a4b5;
}
.testdome-certificate-stamp:hover span {
  text-decoration: none;
}

.testdome-certificate-stamp.silver {
  background-image: url(https://app.testdome.com/content/images/stamp-silver.png?v=2);
}

.testdome-certificate-stamp.gold {
  background-image: url(./images/certificates/testdome-stamp-gold.png);
}

@media (max-width: 1592px) {
  .mw1400 {
    display: inline;
  }
}
@media (max-width: 1315px) {
  header {
    width: 100% !important;
    padding: 0 !important;
  }
  nav {
    display: none;
  }
  nav a {
    display: none;
  }
  #title-overlay {
    position: static;
    background-position: center;
    width: 100%;
  }
  #title {
    text-align: center;
    padding: 25vh 0 0 0;
    animation: 1s ease-in fade-in;
  }
  .mw1400 {
    display: none;
  }
  #email {
    z-index: 1;
    bottom: calc(100vh - 4rem);
    width: 100%;
    background-color: #0e1417;
    padding: 1rem 0;
    animation: 1s ease-out slide-in-top;
  }
  main {
    width: 100% !important;
  }
}
@media (max-width: 402px) {
  .mw402 {
    display: inline;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes clockwise-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/*# sourceMappingURL=style.css.map */
